<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
    <add key="emailFrom" value="rharel89@gmail.com" />
    <add key="emailSupport" value="rharel89@gmail.com" />
    <add key="emailSMTP" value="172.16.201.231" />
    <add key="emailPort" value="25" />
    <add key="emailUser" value="info@dynadox.pro" />
    <add key="emailPass" value="jxKr:9e" />
    <add key="emailInfo" value="info@dynadox.pro" />
    <add key="emailPostMaster" value="postmaster@dynadox.pro" />
    <add key="emailRoy" value="rharel89@gmail.com" />
    <add key="emailDani" value="dharel@live.com" />
    <add key="emailUri" value="uriharel256@gmail.com" />
  	<add key="Telerik.Skin" value="Metro" />
  	<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  	<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <!--<add key="Telerik.Web.UI.RenderMode" value="lightweight" />-->
  </appSettings>
</configuration>
